## Core files to ignore

# Backstop result files
/tests/backstop/results/*

# Mac-specific files
.DS_Store

# Ignore everything in the root except the "wp-content"
/*
!.git/
!wp-content/

!/composer.*
!/package.json
!/yarn.lock

# Don't ignore tests directory (except backstop test results)
!/.circleci
!/tests
/tests/backstop/results/*
!/codeception.*

# Ignore everything in the "wp-content" directory,
# except "plugins", "mu-plugins", and "themes" directories.
/wp-content/*
!/wp-content/mu-plugins/
!/wp-content/plugins/
!/wp-content/themes/

# Ignore everything in "plugins", "mu-plugins", and "themes" directories
/wp-content/mu-plugins/*
/wp-content/plugins/*
/wp-content/themes/*

!/wp-content/plugins/local-plugin

# Don't ignore Apple Touch icons
!apple-touch-icon.png
!apple-touch-icon-*.png
!favicon.ico
